# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env
.env.*

# Packages / builds
build/
dist/
*.egg-info/

# Node
node_modules/
.next/
out/
.pnp.*

# Tooling
.coverage
.pytest_cache/
.mypy_cache/
ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
